<section class="grocerylisterapp">
    <header class="header">
        <h1><%= @list.name%></h1>
        <%= form_for([@list, @item]) do |f| %>
        <%= f.text_field :description, :class => "new-item", :placeholder => (@item.errors.full_messages_for(:description).first || "add item...") %>
                <%= f.submit :style => "display: none" %>
                    <% end %>

        <input class="toggle-all" type="checkbox">
        <%if @item.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@item.errors.count, "error") %>
                prohibited this item from being saved:
                <% @item.errors.full_messages.each do |msg| %>
            </h2>
            <ul style="list-style: none;">
                <li><%= msg %></li>
                     <% end %>
            </ul>
                    <%  end %>
    </header>
    <section class="grocerylisterapp">
        <label for="toggle-all">Mark all as complete</label>
        <ul class="item-list" style="list-style: none;">
            <%= render :collection =>  @list.items, :partial => "items/item_li", :as => :item %>
        </ul>
    </section>
    <footer class="footer">
    </footer>
    </section>